<div class="card-title">
  <h1 class="page-title">{{model.title}}</h1>
</div>
{{log model}}
<div class="collection">
  <div class="collection__item">
    <div class="todo-item">
      <input type="checkbox" class="todo-item__checkbox">
      <p class="todo-item__name"> Fake Thing</p>
    </div>
    <button class="delete-btn btn" data-id="{{value.id}}" {{ action "destroy" value}}>{{fa-icon "trash"}}</button>

  </div>
  <div class="collection__item">
    <div class="todo-item">
      <input type="checkbox" class="todo-item__checkbox">
      <p class="todo-item__name"> Fake Thing</p>
    </div>
    <button class="delete-btn btn" data-id="{{value.id}}" {{ action "destroy" value}}>{{fa-icon "trash"}}</button>

  </div>

  <div class="new-todo-form">
    <input name="new-todo" class="new-todo-form__input" type="text" placeholder="New Todo">

    <button class="btn add-btn">add</button>
  </div>
</div>
